#main-container {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 1rem;
  width: 70%;
  margin: auto;
  margin-top: 40px;
  padding-bottom:40px;
  height: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(34, 56, 147, 1) 100%
  );
  display: flex;
  flex-wrap: wrap;
}
.container-1 {
  padding-left: 60px;
  width: 50%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.contents {
  margin-bottom: 50px;
}

.search-container {
  padding-top: 10px;
  display: flex;
}

.buttons-search{
   padding-top: 10px;
}
#search {
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;
  padding: 0;
  border: none;
  background: none;
  border-bottom: 1px solid;
  outline: none;
}
::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-size: 15px;
}
input:focus::placeholder {
  color: transparent;
}

.icon {
  width: 18px;
  height: 18px;
}

.button-position{
  width: 23px;
  height: 23px;
  padding-left: 10px;
}

.date {
  width: 180px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  float: left;
}

.details-weather li {
  font-size: 13px;
  list-style: none;
}
ul {
  padding: 0;
}
.content-container-first {
  width: 400px;
  height: 150px;
  display: inline-block;
  padding-bottom: 30px;
}
.details-weather {
  float: right;
  text-transform: capitalize;
}

#specific-degree {
  font-size: 70px;
}
.celsius {
  color: white;
  font-size: 23px;

  text-decoration: none;
}
.celsius:hover {
  font-size: 26px;
}
.fahrenheit {
  color: white;
  font-size: 23px;
  text-decoration: none;
}
.fahrenheit:hover {
  font-size: 26px;
}
.content-degree {
  font-size: 50px;
  margin-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
}
.degrees-line {
  font-size: 23px;
}
.celsius:focus {
  font-size: 26px;
}
.fahrenheit:focus {
  font-size: 26px;
}
#cloud-image {
  width: 70px;
  height: auto;
  margin-left: 30px;
}

.container-2 {
  float: right;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: space-around;
}
.container-2 button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: white;
}
.day {
  font-size: 20px;
  font-weight: normal;
}
.images-degree {
  width: 30px;
  height: 30px;
}
.section-right button {
  width: 350px;
  margin-left: 30px;
}
.days-week {
  float: left;
  padding-right: 10px;
}
.day li {
  list-style-type: none;
  display: inline;
}
.section-right-temperature {
  float: right;
}
.degree {
  font-size: 25px;
}
.degree-gray {
  color: rgb(194, 194, 194);
}
.text-right img {
  padding-right: 5px;
}
.text-right {
  margin-bottom: -15px;
}
.forecast {
  margin-top: 40px;
}
.link-github button {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 3px 8px;
  color: #172045;
  font-weight: bold;
  background-color: transparent;
  border-radius: 0.2em;
  cursor: pointer;
  border: 2px solid #172045;
  text-decoration: none;
}
.link-github button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #172045;
}
.link-github button:visited:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #172045;
}

.button-code {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 581px) {
  #main-container{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;

    
  }
  .section-right button {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
   
  .search-container{
    width: 20px;
    display: inline-grid;
  }
  #search{
    font-size: 14px;
  }
.degrees-buttons{
  display: inline-block;
}
#specific-degree{
  font-size: 55px;
}
.forecast{
  margin-top: 0;
}
.icon{
  width: 18px;
  height: 18px;
}
}
@media (max-width: 890px) {
.details-weather{
  float: left;
  margin-top: 10px;
}}
